:host {
	// width: 100%;
	display: block;
	padding: 24px;
}

p>mat-form-field {
	width: 100%;
}

:host ::ng-deep .mat-tab-body-content {
	padding: 0 12px;
}

:host > div {
	margin-bottom: 12px;
}

.update-button {
	background-color: #76ff03;
}

.button-row {
	display: table-cell;

	button {
		display: table-cell;
		margin-right: 8px;
	}
}

.server-info-box {
	h3 {
		margin-bottom: 0;
		font-weight: bold;
	}
}

server-console {
	// display: flex;
	height: 400px;
	width: 100%;
}

.stat-containers {
	margin: -12px;
}
.stat-containers mat-card {
	flex: 1;
	margin: 12px;
	// max-height: 265px;
	// canvas {
	// 	max-height: 250px;
	// }
}
