<h2>{{(Server$ | async).Name}}</h2>

<div class="console">
	<server-console [server]="Id"></server-console>
</div>

<div class="stat-containers" fxLayout="row">
	<mat-card>
		<mat-card-title>Memory Usage</mat-card-title>
		<mat-card-content>
		<canvas
			height="220px"
			baseChart
			[data]="memoryChartData"
			[options]="memoryChartOptions"
			[chartType]="'line'"
			[legend]="false">

		</canvas>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>CPU Usage</mat-card-title>
		<mat-card-content>
		<canvas
			height="220px"
			baseChart
			[data]="cpuChartData"
			[options]="cpuChartOptions"
			[chartType]="'line'"
			[legend]="false">

		</canvas>
		</mat-card-content>
	</mat-card>
</div>
<div class="stat-containers" fxLayout="row">
	<mat-card>
		<mat-card-title>Active Players</mat-card-title>
		<mat-card-content>
		<canvas
			height="220px"
			baseChart
			[data]="playerChartData"
			[options]="playerChartOptions"
			[chartType]="'line'"
			[legend]="false">

		</canvas>
		</mat-card-content>
	</mat-card>
</div>
