<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#drawer
		class="sidenav"
		fixedInViewport
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="(isHandset$ | async) === false">
		<mat-toolbar color="primary">Menu</mat-toolbar>
		<mat-nav-list>
			<a class="sidebar-nav-link" mat-list-item *ngFor="let item of SidebarItems | filtercallback: filterItems" (click)="linkOpened()" [routerLink]="item.path" routerLinkActive="active">{{item.title}}</a>
			<!-- <a mat-list-item href="#">Link 1</a>
			<a mat-list-item href="#">Link 2</a>
			<a mat-list-item href="#">Link 3</a> -->
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<ng-container *ngIf="isRoot$ | async">
				<button
					type="button"
					aria-label="Toggle sidenav"
					mat-icon-button
					(click)="drawer.toggle()"
					*ngIf="isHandset$ | async">
					<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
				</button>
			</ng-container>
			<ng-container *ngIf="!(isRoot$ | async)">
				<button
					type="button"
					aria-label="Go back"
					mat-icon-button
					(click)="goBack()">
					<mat-icon aria-label="Back button">arrow_back</mat-icon>
				</button>
			</ng-container>
			<span>OpenGameMonitor</span>
		</mat-toolbar>
		<ng-container *ngIf="{ loading: isLoading$ | async, loadingExt: isLoadingExternally$ | async } as loadingData;">
		<mat-progress-bar @loadingState mode="indeterminate" *ngIf="loadingData.loading || loadingData.loadingExt"
			class="toolbar-loading-bar">
		</mat-progress-bar>
		</ng-container>

		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
